body{
  box-sizing: border-box;
  background-color: #f3f3f3;
}
.container{
  margin: auto;
  width: 960px;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px #589797
}
header ,
main {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.header-left ,.main-left {
  text-align: center;
  min-width: 350px;
}
.header-right , .main-right{
  text-align: center;
  margin: 40px 40px 0px 0px;
  min-width: 610px;
}
.avatar{
  text-align: center;
  width: 220px;
  height: 220px;
  border-style: solid;
  border-color: #589797;
  margin: 40px 40px 40px 70px;
}
.name{
  margin: 40px 40px 0px 40px;
  color: #589797;
  font-weight: 600;
}
.post , h4{
  color: #589797;
  margin: 0px 40px 10px 40px;
  font-weight: 400;
}
.about{
  text-align: left;
  color: #589797;
  margin: 0px 40px 10px 65px;
  font-weight: 600;
}
.about-text{
  text-align: left;
  color: #589797;
  margin: 0px 40px 10px 65px;
  font-weight: 400;
  font-size: 16px;
}
.contact{
  display: block;
  text-align: center;
  color: #589797;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.contact-item{
  display: block;
  color: #589797;
}
.contact-item li{
  text-align: left;
  margin: 20px 20px 20px 50px;
  font-weight: 400;
  font-size: 16px;
}
.skills {
  display: block;
  text-align: center;
  color: #589797;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.skills-item {
  display: block;
  color: #589797;
}
.skills-item li {
  text-align: left;
  margin: 20px 20px 20px 50px;
  font-weight: 400;
  font-size: 16px;
}
.education {
  display: block;
  text-align: center;
  color: #589797;
  margin-bottom: 20px;
  font-weight: 600;
}

.education-item {
  display: block;
  color: #589797;
}

.education-item li {
  margin: 20px 20px 20px 100px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
.languages {
  display: block;
  text-align: center;
  color: #589797;
  margin-bottom: 20px;
  font-weight: 600;
}

.languages-item {
  display: block;
  text-align: left;
  color: #589797;
}

.languages-item li {
  text-align: left;
  margin: 20px 20px 20px 100px;
  font-weight: 400;
  font-size: 16px;
}
.code {
  display: block;
  text-align: center;
  color: #589797;
  margin: 30px 30px 10px 30px;
  font-weight: 600;
}
.code-text{
  text-align: left;
  margin-left: 75px;
}
footer{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 960px;
  height: 80px;
  background-color: #589797;
  margin-top: 10px;
}
.logo-rss{
  display: block;
  align-items: center;
  margin-left: 40px;
}
.year{
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-top: 30px;
  margin-right: 40px;
}
.logo-git{
  margin: 20px 40px 20px 40px;
}